* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --header-color: #3DE07E;
    --main-color: black;
    --btn-color: #E83F57;
    --footer-color: #333333;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&display=swap');

body {
    margin: 0 auto;
    background-color: var(--main-color);
    font-family: 'Fira Sans', sans-serif;
    overflow-x: hidden;
}

main {
    max-width: 80vw;
    margin: 0 auto;
}

header {
    width: 100vw;
    background-color: var(--header-color);
    background-image: url(/assets/ninja_head.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;
    display: flex;
    background-size: 15%;
    flex-direction: column;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    margin-bottom: 20rem;
    margin-top: 8rem;
    font-size: 80px;
}

h3 {
    font-size: 2rem;
    margin: 1rem 0;
}

main {
    background-color: var(--main-color);
}

.small-posters__container {
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    flex-wrap: wrap;
    align-items: start;
    gap: 1.5rem;
    justify-content: space-between;
}

.small-posters__container article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
}

.small-posters__container img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.small-posters__container p {
    padding-bottom: 2rem;
}

.big-posters__container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.big-posters__container article {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    justify-content: center;
}

.big-posters__container img {
    width: 100%;
    height: 35rem;
    object-fit: cover;
}

.big-posters__container .prod-info {
    background-color: white;
    width: 100%;
}

.big-posters__container h3 {
    padding: 0.5rem 1rem 0 1rem;
}

.big-posters__container p {
    padding: 0 1rem 2rem 1rem;
}

.big-posters__container button {
    margin: 1rem;
}

button {
    all: unset;
    background-color: var(--btn-color);
    padding: .5rem 1rem;
    border-radius: 4px;
    font-weight: bold;
    max-width: fit-content;
}

footer {
    margin: 0 auto;
    width: 100vw;
    background-color: var(--footer-color);
    color: white;
    display: flex;
    justify-content: space-around; 
    padding: 3rem 0 5rem 0;
    line-height: 1.5rem;
}

footer h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.social-media ul {
    display: flex;
    justify-content: space-evenly;
}


/* CHECK OUT */

.checkout-container {
    width: 80vw;
    color: white;
}

.break-line {
    background-color: white;
    width: 100%;
    height: 1px;
    margin: 1rem 0;
}
